<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Meds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="a">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Camera Setup</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Take a picture of your RX code. 
      We will automatically fill the information for you !
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Manual Setup</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Manually setup your pills information <a href="medicine-form">here</a>.
    </ion-card-content>
    
  </ion-card>
  
</ion-content>
